.order-add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.order-list .order-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.order-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.order-item-header h4 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.order-item-header p {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}

.order-item-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.order-item-content h5 {
  font-size: 1em;
  color: #555;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.order-item-content p {
  margin: 5px 0;
  font-size: 0.9em;
}

.order-item select {
  background-color: #fff;
  border: 1px solid #ff6347;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .order-item {
      font-size: 12px;
  }
  .order-item select{
      padding: 5px;
      font-size: 12px;
  }
}

@media (max-width: 750px) {
  .order-item{
      grid-template-columns: 1fr;
  }
}
